.svn/
properties/ds.properties
weblogic-external/*
!weblogic-external/src
!weblogic-external/metrus
.history/
ds-homolog.properties
ds-prod.properties
properties/srcds.properties
properties/metrusds.properties
weblogic-external-data/src/logs
weblogic-external-data/metrus/logs
weblogic-external/metrus/config.properties
